[Desktop Entry]
Version=1.0
Type=Application
Name=RubyMine
Exec="/opt/rubymine/bin/rubymine.sh" %f
Icon="/opt/rubymine/bin/RMlogo.svg"
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-rubymine
